<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="HalalApp"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
                android:name="com.google.androidbrowserhelper.trusted.LauncherActivity"
                android:exported="true"
                android:label="HalalApp">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="halalapp.de"/>
                <data android:scheme="https" android:host="www.halalapp.de"/>
                <data android:scheme="https" android:host="forum.halalapp.de"/>
            </intent-filter>
            <meta-data
                    android:name="android.support.customtabs.trusted.SCREEN_ORIENTATION"
                    android:value="portrait" />
            <meta-data
                    android:name="android.support.customtabs.trusted.ADDITIONAL_TRUSTED_ORIGINS"
                    android:resource="@array/additional_trusted_origins" />
            <meta-data
                    android:name="android.support.customtabs.trusted.DEFAULT_URL"
                    android:value="https://www.halalapp.de/"/>

            <meta-data
                    android:name="android.support.customtabs.trusted.SPLASH_IMAGE_DRAWABLE"
                    android:resource="@drawable/icon"/>

            <meta-data
                    android:name="android.support.customtabs.trusted.SPLASH_SCREEN_BACKGROUND_COLOR"
                    android:resource="@color/ic_launcher_background"/>

            <meta-data
                    android:name="android.support.customtabs.trusted.SPLASH_SCREEN_FADE_OUT_DURATION"
                    android:value="300"/>
            <meta-data
                    android:name="android.support.customtabs.trusted.FILE_PROVIDER_AUTHORITY"
                    android:value="${applicationId}.fileprovider"/>
            <meta-data
                    android:name="android.support.customtabs.trusted.STATUS_BAR_COLOR"
                    android:resource="@color/ic_launcher_background"/>
        </activity>

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/xml_file_paths"/>
        </provider>
    </application>

</manifest>